
p.l1{
    color:black;
    font-size: 30px;
    font-weight: 700;
}
p.rámik {
    border-left: 20px solid red;
    border-right:20px solid red;
    background-color: lightgrey;
    font-size: 50px;
    font-family: Fantasy;
    text-align: center;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
    
}
h2 {
    font-size:20px;
    color:#6A6C80;
    text-align: right;
}
a{
    color:#6B6B6B;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
}
  
