body {
    background: linear-gradient( rgba(198,11,11,0.9475140397956058) 0%, rgba(2,2,107,0.6982143199076505) 100%);
    ;
}
div {
    display: block;
    background-color: white;
    border: 50px;
    height: 50px;
    width: 100%;
    border-top: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}
h1 {
    text-align: center;
    line-height: 50px;

}
div.m {
    background-color: white;
    width: 50%;
    margin-top: 50px;
    margin-left: 10%;
    height: auto;
    border: 15px solid white ;
    border-radius: 15px;

}
a{
    color:#6B6B6B;;
    text-decoration: none;
}
