body{
    margin: 0px;
    background: linear-gradient( rgba(198,11,11,0.9475140397956058) 0%, rgba(2,2,107,0.6982143199076505) 100%);
}
* {
    box-sizing: border-box;
  }
.hlavne {
    padding: 10px;
    background-color:#f0f2f5;
    box-shadow: 0px 3px 15px black;
    margin-bottom: 50px;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    float: left;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-right:0px;
}
.column2 {
    float:right;
    width:50%;
    margin-left: 50px;
    overflow: hidden;
    margin-right: 10%;
}
.column3 {
    overflow: hidden;
    width:30%;
    float: right;
    margin-right: 5%;
    margin-left: 0px;
}
.bok {
    margin-right: 10px;
}
.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.pa {
    background-color: black;
    color: #f0f2f5;
}
.prvy {
    margin-top: 125px;
}
.column2 li{
    display: inline;
    padding: 30px;
    width: 50px;
    margin-left: 10px;
    margin-right: 0px;
}
.column2 ul li:hover{
    background-color: #171717;
} 
.column2 ul{
    display: block;
    width: auto;
    text-align: right;
    margin-top:15px;
    margin-right: 0px;

}
.column2 h1 {
    text-align: center;
}
h3 {
    margin:auto;
    display: inline;
}
.zmiz {
    display: none;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 15px 15px;
}

.slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    margin-top: 15px;
    margin-bottom: 50px;
    box-shadow: 10px 5px 15px black;
}
.column1 ul {
    float: center;
    list-style: none;
    width: 80%;
}
.column1 ul li {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;

}
.column1 ul li a:hover {
    padding-left: 20px;
    background-color: none;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    margin-left: 20px;
    margin-bottom: 0px;

}
.vedla{
    display: inline;
}
.column3 img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
}
.pr {
    overflow: hidden;
    width: 70%;
}
.column3 img:hover{
    border:none;
}
.paticka {
    margin-bottom: 0px;
}
.paticka .column1 ul {
    width:90%;
}
.paticka .column1 ul li {

    border-bottom: 1px solid #f0f2f5;
}
.paticka .column1 ul li a {
    color: #f0f2f5;
    font-size: 15px;
}
.column2 .medzery img {
    display: inline;
    width:50px;
    height: auto;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    transform: translateY(50%);
}
.medzery{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}