body {
    background-image:url(jedlo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
    background-color: white;
    padding-bottom: 75px;
    padding-top: 75px;
    border-radius: 100px;
}
h1 {
    text-align: center;
    color: black;
    text-shadow: 0px -10px 10px black;
    font-size: 50px;

}
input.s {
    color: #D5D5D5;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 3px  solid black;
    background-image: url(search.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;

}
